<div class="container d-flex justify-content-between">
  <button class="btn btn-outline-success" (click)="showToastr('success')">
    Show Success Messages
  </button>

  <button class="btn btn-outline-danger" (click)="showToastr('danger')">
    Show Danger Messages
  </button>
  <button class="btn btn-outline-info" (click)="showToastr('info')">
    Show Info Messages
  </button>
  <button class="btn btn-outline-warning" (click)="showToastr('warning')">
    Show warning Messages
  </button>
</div>
<div class="container mt-5">
  <button class="btn btn-danger" (click)="showSweetAlert()">Play Sweet Alerts</button>
</div>
