<form [formGroup]="userForm">
  <div>
    <label>
      First Name:
      <input type="text" formControlName="firstName" required>
    </label>
  </div>
  <br>
  <div>
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  </div>
  <br>

  <div formGroupName="address">

    <h3>Address</h3>
    <div>
      <label>
        Street:
        <input type="text" formControlName="street">
      </label>
    </div>
    <br>

    <div>
      <label>
        City:
        <input type="text" formControlName="city">
      </label>
    </div>
    <br>

    <div>
      <label>
        State:
        <input type="text" formControlName="state">
      </label>
    </div>
    <br>
    <div>
      <label>
        Zip Code:
        <input type="text" formControlName="zip">
      </label>
    </div>
    <br>
  </div>

  <button type="submit" [disabled]="!userForm.valid" (click)="updateUserProfile()">Submit</button>
</form>
