<div class="container d-flex justify-content-end">
  <app-language-selector></app-language-selector>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h2 style="color: tomato">{{'Please change your password' | translate}}</h2>
    </div>
    <div class="col-6">
      <form [formGroup]="password" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{{'Current Password  ' | translate}}</label>
          <input type="password" formControlName="currentPassword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">{{'New Password' | translate}}</label>
          <input type="password" formControlName="newPassword" class="form-control" id="exampleInputPassword1">
        </div>

        <button [disabled]="password.invalid" type="submit" class="btn btn-primary">Change Password</button>
      </form>
    </div>
  </div>
</div>

