<div class="container d-flex justify-content-end">
  <app-language-selector></app-language-selector>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h2 style="color: tomato">{{resetCode? 'Set new Password': 'Reset Password'}}</h2>
    </div>
    <div class="col-6" *ngIf="!resetCode">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{{'Email address' | translate}}</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <button [routerLink]="['/signin']" type="button" class="btn btn-outline-danger me-5">{{'Cancel' | translate}}</button>
          <button [disabled]="resetForm.invalid" type="submit" class="btn btn-primary ">{{'Reset' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="col-6" *ngIf="resetCode">
      <form [formGroup]="resetPassword" (ngSubmit)="onChangePassword()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{{'Set New Password' | translate}}</label>
          <input type="password" formControlName="newPassword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <button [routerLink]="['/signin']" type="button" class="btn btn-outline-danger me-5">{{'Cancel' | translate}}</button>
          <button type="button" class="btn btn-outline-info me-5" (click)="resetPassword.reset()">{{'Clear' | translate}}</button>
          <button [disabled]="resetPassword.invalid" type="submit" class="btn btn-primary ">{{'Change Password' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

